#root{
  display: flex;
}

.controls-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.contact-information{
  border-style: solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding: 20px;
}

.cv-result{
  border-style: solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  padding: 20px;
}