#root{
  display: flex;
  background-color: lightblue;
}

.controls-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 5px;

}

.contact-section{
  border-bottom: 1px solid black;
  padding: 20px;
  margin: 0 auto;
}
.form-section{
  border-style: solid;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  padding: 20px;
  background-color: white;
}

.title{
  max-width: 400px;
  overflow-wrap:break-word;
}

.cv-result{
  background-color: white;
  border-style: solid;
  display: flex;
  flex-direction: column;

  align-items: start;
  padding: 20px;
  width: 600px;
}

.work-experience-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-section, contact-section, work-experience{
  width: 100%;
}

.work-description{
  text-align: left;
}

.role{
  margin: 0px;
}